body{
    width: 512px;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
}

h1{
    padding-left: 20px;
    border-bottom: 3px solid black;

    margin-block-start:0.75em;
    margin-block-end:0.75em;

}
