body{
    width: 512px;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
    box-sizing: border-box;
}

h1{
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid black;

    margin-block-start:0.75em;
    margin-block-end:0.75em;

}

.card{
    width: 462px;
    border: 3px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    /*margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    */
    margin: 15px 20px; 
    min-height: 159px;
}

